<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ArduinoPlugin.ArduinoProjectCategory"
            name="Arduino Projects">
      </category>
      <wizard
            category="ArduinoPlugin.ArduinoProjectCategory"
            class="arduinoplugin.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            id="ArduinoPlugin.newProjectWizard"
            name="Arduino"
            project="true">
      </wizard>
   </extension>
   <extension
         id="arduinoplugin.ProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="arduinoplugin.natures.ArduinoProjectNature">
         </run>
      </runtime>
      <builder
            id="arduinoplugin.builders.ArduinoBuilder">
      </builder>
   </extension>
   <extension
         id="arduinoplugin.builders.ArduinoBuilder"
         name="ArduinoBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true">
         <run
               class="arduinoplugin.builders.ArduinoProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="arduinoplugin.editors.Editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="pde"
            icon="icons/arduino.gif"
            id="arduinoplugin.editors.PDEEditor"
            name="PDE Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="arduinoplugin.pages.ArduinoPropertyPage"
            icon="icons/arduino.gif"
            id="ArduinoPlugin.page1"
            name="Properties Page">
      </page>
   </extension>
     <extension point="org.eclipse.ui.commands">
     <category id="arduinoplugin.Toolbar.Category" name="DropDown Examples">
     </category>
     <command categoryId="arduinoplugin.Toolbar.Category" defaultHandler="arduinoplugin.Toolbars.DropDownHandler"  
              id="arduinoplugin.Toolbar.dropdown.command" name="Drop">
        <commandParameter id="arduinoplugin.Toolbar.dropdownmsg" name="Message" optional="true">
        </commandParameter>
     </command>
  </extension>
  <extension point="org.eclipse.ui.commandImages">
     <image commandId="arduinoplugin.Toolbar.dropdown.command" icon="icons/arduino.gif">
     </image>
  </extension>

  <extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
       <toolbar id="arduinoplugin.Toolbars.toolbar2">
           <command commandId="arduinoplugin.Toolbar.dropdown.command" id="arduinoplugin.Toolbar.dropdownCommand" style="pulldown" 
                    tooltip="Send them a message">
           </command>
        </toolbar>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:arduinoplugin.Toolbar.dropdownCommand">
        <command
              commandId="arduinoplugin.Toolbar.dropdown.command"
              label="Upload"
              style="push"
              tooltip="Upload the sketch via bootloader">
           <parameter
                 name="arduinoplugin.Toolbar.dropdownmsg"
                 value="UploadCommand">
           </parameter>
        </command>
        <separator
              name="additions"
              visible="false">
        </separator>
        <command
              commandId="arduinoplugin.Toolbar.dropdown.command"
              label="Msg - bye"
              style="push">
           <parameter
                 name="arduinoplugin.Toolbar.dropdownmsg"
                 value="Goodbye">
           </parameter>
        </command>
     </menuContribution>
  </extension>


</plugin>
